<div class="topnav">
 <span class="topnav-hdg">My Heading</span>
</div>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" id="closeBtnLnk" class="closebtn" style="font-size:36px" (click)="toggleNav()">&#9776;</a>
  <div id='menuOptions'>
    <a href="#"><i class="fa fa-square"></i><span class="menuLnk">About</span></a>
    <a href="#"><i class="fa fa-square"></i><span class="menuLnk">Services</span></a>
    <a href="#"><i class="fa fa-square"></i><span class="menuLnk">Clients</span></a>
    <a href="#"><i class="fa fa-square"></i><span class="menuLnk">Contact</span></a>
  </div>
</div>

<div id="mainContentId" class="mainContent">
  <p><router-outlet></router-outlet></p>
</div>